<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>P2_31924911</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/remixicon@2.2.0/fonts/remixicon.css"/>
  <link rel='stylesheet' href='/stylesheets/style.css'>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-1GVLQ7X3ML"></script>

  <script src="https://www.google.com/recaptcha/api.js" async defer></script>

  <meta property="og:title" content="Curriculum-Vitae" />
  <meta property="og:type" content="application" />
  <meta property="og:url" content="https://accounts.google.com/o/oauth2/auth" />
  <meta property="og:image" content="https://www.googleapis.com/oauth2/v1/certs" />

  
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-QZ0NMFEN6Z"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-QZ0NMFEN6Z');
</script>


</head>

<body>
  
  <h1>Servicio de Centro Medico Maracay (CMM)</h1> 
  <div class="image"> <img class="images" src="/CMM.png" alt="Centro Medico Maracay"> </div>
  <p>Tu salud es nuestra prioridad 💙⚕️. Un equipo multidisciplinario con tecnología de vanguardia.</p> 
  <p>Ahora más cerca de ti!</p> <br>
  <h2>Servicios</h2>
  <p>Algunos de los servicios que ofrece incluyen:</p>
  <ul>
      <li>Emergencia 24/7</li>
      <li>Laboratorio</li>
      <li>Hospitalización</li>
      <li>Cirugías</li>
      <li>Resonancia Magnética</li>
      <li>Consultas Médicas</li>
      <li>Rayos X</li>
      <li>Tomografía</li>
      <li>Ecografía</li>
      <li>APS (Atención Primaria de Salud)</li>
  </ul>
  <p>El centro también cuenta con instalaciones modernas, como una farmacia en el lugar, una sala de espera cómoda y una
       cafetería donde los pacientes pueden relajarse antes o después de su cita. 
      El objetivo del Centro Médico Maracay es brindar un servicio excepcional en un ambiente cálido y acogedor, 
      priorizando la salud y el bienestar de sus pacientes</p>
  

<section class="features y benefits">
  <h2>Ventajas y Beneficios</h2>
  <p>El Centro Médico Maracay ofrece una serie de venjatas y beneficios que lo hacen destacar.</p>
  <p>Estas son algunas de las principales ventajas y Beneficios:</p> 
  <ul> 
      <li>Atención 24 Horas: El centro ofrece servicios médicos las 24 horas del día, los 365 días del año, lo que garantiza atención inmediata en casos de emergencia</li> 
      <li>Tecnología Avanzada:Cuentan con equipos y tecnologías modernas para realizar diagnósticos precisos y tratamientos eficaces</li>
       <li>Personal Calificado:El personal médico y de enfermería está altamente capacitado y especializado en diversas áreas de la medicina</li> 
       <li>Servicios Integrales:Ofrecen una amplia gama de servicios, desde consultas generales y chequeos de rutina hasta procedimientos quirúrgicos y especialidades médicas</li> 
       <li>Ambiente Comodo:Las instalaciones son modernas y cómodas, con salas de espera amplias y una farmacia en el lugar</li>
       <li>Resultados Rapidos: El laboratorio clínico digitalizado permite la entrega rápida de resultados, lo que facilita el diagnóstico y tratamiento temprano</li>
       <li>Servicio Corporativo: Disponen de un servicio de toma de muestras in company para empresas, lo que facilita la atención médica para los empleados</li>
       <li>Alianzas con Laboratorios Clínicos: Colaboran con laboratorios clínicos para ofrecer una gama completa de pruebas y análisis</li>
      </ul> 
</section>

<section class="contac">
<h3>
  Comunicate con Nosotros
</h3>
<a href="https://www.facebook.com/p/Centro-M%C3%A9dico-Maracay-100028836146887/" target="_blank" rel="noopener noreferrer">Facebook</a> <br>
<a href="https://www.instagram.com/centromedicomaracay/?hl=es" target="_blank" rel="noopener noreferrer">Instagram</a> <br>
<a href="http://www.centromedicomaracay.com/" target="_blank" rel="noopener noreferrer">Sitio Web Oficial</a> <br>
<a href="https://maps.app.goo.gl/fuFHr7vKBgPdDZq6A" target="_blank" rel="noopener noreferrer">Ubicación</a>
</section>

    <div class="contened">
      <form class="formulario" action="/send" method="post">
          <label class="rai" for="">Correo</label><br />
          <input
            class="lod"
            placeholder="ejemplo@ejemplo.com"
            type="text"
            name="correo"
          /><br />

          <label class="rai" for="">Nombre</label><br />
          <input
            class="lod"
            placeholder="Nombre Completo"
            type="text"
            name="nombre"
          /><br />

          <label class="rai" for="">Comentario</label><br />
          <textarea
            placeholder="Ingresa tu comentario"
            name="comentario"
            id=""
          ></textarea>
          <br><br>

          <script src="https://www.google.com/recaptcha/api.js?hl=es"></script>

        
            <div class="g-recaptcha" data-sitekey="6LetJ5UqAAAAAP5rK0TwGYVKd5mPu7owvCAFKM8E"></div>
            <br>
            <button class="bto">Enviar</button>
          </form>
        </div>
      </div>
      
    </section>
    <script src="/javascripts/validacionform.js"></script>
    <script src="../app.js"></script>
 </body>
</html>