<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>P2_31924911</title>
    <link rel="stylesheet" href="/public/stylesheets/style.css">
</head>
<body>
    <div class="container">
        <h1>Hola Mundo</h1>
        <p>Mi nombre es Arthur Martinez</p>
        <p>Mi cedula es 31924911</p>
        <p>Pertenezco a la sección 3</p>
    </div>
</body>
</html>
